body {
    background-color: #2b2d42;
    color: white;

    font-family: "Montserrat";
    text-align: left;
    /* justify-content: center; */

}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 5rem;
}

p {
    font-size: 2rem;
    font-weight: bold;
}

#intro {
    

    padding: 50px 10px 20px;
    align-items: left;
    margin-bottom: 100px;

}



.pic {
    /* margin-right: 5px; */
}

.intro {
    /* align-items: left; */
    
}

.img {
    margin-left: 0;

}

.frontImg {
    width: 80%;
    margin-left: 20px;
    padding-right: 0;
    border-radius: 5%;
    border: 1px solid white;
}

#skills {
    background-color: white;
    padding: 3% 8% 7%;

}

.skill-box {
    text-align: center;
    border: 1px solid white;
    border-radius: 20%;
    margin: 0 0 20px 20px;
    background-color: #8d99ae;
    ;
}

.skill-box p {
    font-size: 1.2rem;
}

@media (min-width: 990) {
    #body {
        text-align: center;
        
    }
    
}